<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>webaccess</h1>
        {% for i in WAO %}
        <h1>name: {{i.name}}</h1>
        <h2>url nmae: {{i.url}}</h2>
        
            {% for j in i.accessrecord_set.all %}
                <h3>author name: {{j.author}}</h3>
                <h3>date: {{j.date}}</h3>
                <h3></h3>
            {% endfor %}
        {% endfor %}
    </center>
</body>
</html>